.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  .app-title {
    span {
      color: rgb(0, 149, 255);
    }
  }
  .inputs-wrapper {
    width: max-content;
    padding: 20px;
    border-top: 2px solid rgb(0, 149, 255);
    border-bottom: 2px solid rgb(0, 149, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 760px) {
      flex-direction: column;
    }
    label {
      margin-right: 10px;
      @media (max-width: 760px) {
        margin-bottom: 10px;
        text-align: center;
      }
    }
    .task-input {
      margin-right: 10px;
      padding: 10px;
      border-color: rgb(0, 149, 255);
      background-color:rgb(204, 226, 245);
      text-align: center;
      @media (max-width: 760px) {
        margin-bottom: 20px;
        margin-top: 10px;
        margin-right: 0;
      }
    }
    .btn-add {
      background-color: rgb(102, 181, 238);
      padding: 10px;
      border: 2px solid rgb(0, 149, 255);
      text-transform: uppercase;
      font-weight: 700;
      &:hover {
        background-color: rgb(12, 120, 197);
        border: 2px solid rgb(1, 76, 130);
      }
    }
  }
  .list-wrapper {
    padding: 20px;
  }
}
